body {
    font-family: Arial, sans-serif;
    background-color: #fddcf6;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    text-align: center; /* keeps heading centered */
}

form {
    background-color: rgb(236, 225, 235);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
    width: 600px;
    margin: 20px auto; /* centers the form */
}
input[type="text"], input[type="email"], input[type="password"], select {
    width: 100%;
    padding: 12px;
    margin: 8px 0 20px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

#age {
    width: 80px;
}

#password {
    width: 70%; 
}